@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

nav {
	margin: 0 auto;
	max-width: 760px;
    background-color: #000;
}
nav {
	list-style: none;
	padding: 0;
}
nav li:first-child {
	display: block;
}
nav li {
	display: none;
}
nav a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
nav a:hover {
	color: #000;
	background-color: #fff;
	font-weight: 700;
}



/* Media Query for medium + screens */
@media only screen and (min-width: 680px) {
	nav button {
		display: none;
	}
	nav li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	nav li a {
		color: yellow;
		text-align: center;
	}
	
	nav li:first-child {
		display: none;
    }
}
.clearfix:after{
    content:"";
    display: table;
    clear: both;
}
