@import url('https://fonts.googleapis.com/css?family=Kodchasan|Nunito|Stylish&display=swap');
/* color scheme: https://coolors.co/app/102847-c7f1f2-0e838e-8c9aac-faffff */
#top {
    text-align: center;
    background-color: #102847;
}
#photo {
    float: right;
    padding-right: 10%;   
}
#assignment-list{

    background-color: #FAFFFF;
}
body {
    background-color: #8C9AAC;
}
footer{
    align-self: center;
}