@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
/* normalize.css */
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');
/* color scheme: https://coolors.co/app/102847-c7f1f2-0e838e-8c9aac-faffff */
/* General Rules that apply to all devices */
html *{
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #8C9AAC;
    font-size: 18px;
}

/* Mobile Rules */
#wrapper { /* wrapper is a div inside main*/
    width: 100%;
    background-color: #FAFFFF;
    
}
.ss{
    width: 50%;
}
#top {
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/4;
}
li{
    list-style: none;
}

.ss img{
    max-height: 100%;
    max-width: 100%; 
}
#photo {
    grid-row: 2/3;
    grid-column: 3/4;      
}
footer{
    grid-row: 3/4;
    grid-column: 1/4;
    text-align: center;
}
#assignment-list{
    grid-row: 2/3;
    grid-column: 1/4;
    background-color: #FAFFFF;
}
.card{
    box-shadow: 0px 1px 5px #555;
    padding-right: 1rem;
    text-align: justify;
    text-justify: auto;
}
footer a{
    color: darkblue;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Ibarra Real Nova', serif;
    text-align: initial;
}
/* Larger Screen Rules */
@media screen and (min-width:680px){
    #wrapper {
        width: 80%;
        margin: 0 auto;
        max-width: 1200px;
        background-color: #8C9AAC;
        font-size: 2vw;
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr;
    }
    #assignment-list{
        grid-row: 2/3;
        grid-column: 1/4;
        background-color: #FAFFFF;
        grid-gap: 1rem;
        padding: 1rem;
    }
    #photo{
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .ss{
        width: 100%;
    }
    #navlist{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
    }
}
/* Extra-Large Screen Rules */
@media screen and (min-width:1300px){
    #wrapper {
        width: 80%;
        margin: 0 auto;
        background-color: #8C9AAC;
        font-size: 1vw;
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr;
        
    }
    #assignment-list{
        grid-row: 2/3;
        grid-column: 1/4;
        background-color: #FAFFFF;

        grid-gap: 1rem;
        padding: 1rem;
    }
    #photo{
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .ss{
        width: 100%;
    }
    #navlist{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
    }
}
